@using Common
@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment HostingEnvironment
@{
    var bagsHolder = BagsHolder.Resolve();
    var myApp = bagsHolder.GetBag("myApp", true);

    var init = myApp.MyGetIf("init", false, true);
    var vueComponents = myApp.MyGetIf("vueComponents", BagsHelper.Create(), true);
    if (!init)
    {
        foreach (var theKey in vueComponents.Keys)
        {
            vueComponents[theKey] = Url.Content("~" + vueComponents[theKey]);
        }
        <h2>Init Completed!</h2>
        myApp.MySet("init", true);
    }
}
<hr />
<h2>ContentRootPath: @HostingEnvironment.ContentRootPath</h2>
<h2>WebRootPath: @HostingEnvironment.WebRootPath</h2>
<hr />
@foreach (var vueComponent in vueComponents)
{
    <p>@vueComponent.Key : @vueComponent.Value</p>
}
